<html>

<body style="background-color:#FFFFCC">
	<p style="font-family:times; font-size:16px;">Привет, %RECEIVER_NAME%! :)</p>
   	<p><b style="font-family:times; font-size:16px;">Выложил новые <a href="http://akosarev.info">фотографии</a>!</b></p>
	<br>
	<div>

		<table>
			%PICTURES_INFO%
		</table>
		
	</div>

   	<p><a href="http://akosarev.info">остальное...</a></p>
   	<p>
		Если замучил, или просто имеется желание пообщаться <a href="mailto:netalexinfo@hotbox.ru">пишите (netalexinfo@hotbox.ru)</a> :)<br>
		Лёша.
	</p>

</body>

</html>