<tr>
	<td>
   		&nbsp;
	</td>
</tr>
<tr>
	<td>
   		<p style="font-family:times; font-size:20px; color:#336600">%ALBUM_NAME%</p>
   		<p style="font-family:times; font-size:16px;">%COMMENT%</p>
	</td>
</tr>
<tr>
	<td>
		<a href="%LINK%"><img src='cid:%NAME%'></a>
		<br><a href="%LINK%">Where is it?</a><br>
	</td>
</tr>
