<tr>
	<td>
   		&nbsp;
	</td>
</tr>
<tr>
	<td>
   		<p style="font-family:times; font-size:20px; color:#336600">%ALBUM_NAME%</p>
   		<p style="font-family:times; font-size:16px;">%COMMENT%</p>
	</td>
</tr>
<tr>
	<td>
		<img src='cid:%NAME%'>
		%LINK%
	</td>
</tr>
